<html>
    <head>
        <meta charset="utf-8">
        <title>PACMAN & Chat</title>
        <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script src="/static/mppacman.js"></script>
        <link rel="stylesheet" href="/static/style.css">
<<<<<<< HEAD
        <script type="text/javascript">
            $(document).ready(function(){
            })
        </script>
=======
        
>>>>>>> f4b74ae6754e14eeefa9be2e5377fa274ebf68f8
    </head>
    <body>
        <div class="container">
            <div class="world"></div>
            <div class="stats">
                <span id="score">0</span>
                <span id="lives">Lives: 3</span>
            </div>
            <div class="chat"></div>
            <div class="otherGameClients"></div>
        </div>
    </body>
</html>