<html>
    <head>
        <meta charset="utf-8">
        <title>PACMAN & Chat</title>
        <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                var socket = io.connect();

                var user = prompt("Enter your name:");
                user = user || "Bob the builder";
                socket.emit('new_user', { data : user });

                socket.on('user_response', function(data){
                    console.log(`Received: ${data}`);
                });
                document.onkeydown = (e) => {
                    if(e.keyCode == 40 || e.keyCode == 38 || e.keyCode == 39 || e.keyCode == 37){
                        // socket.emit('move', )
                        console.log('movement');
                    }
                }
            })
        </script>
    </head>