.nav {
    display: inline-block;
    width: 200px;
    border: 1px solid black;
    background-color: #9EC4F5;
    vertical-align: top;
    margin-left: 20px
}
button {
    display: block;
    text-align: center;
    width:100px;
    margin: 10px 0px 10px 50px;
    background-color:white;
}