<!-- <h1 *ngIf='myBoolean'>Show This!</h1>
<h1 *ngIf='1!==1'>Don't show this</h1>

<ul>
  <li *ngFor="let num of myArr">{{num}}</li>
</ul>

<span [ngStyle]="{
  'background-color': color,
  'font-weight': 'bold'
}" >ngStyle</span>

<span class='red'>Styling</span>

<span [ngClass]="{ 'red': true, 'bold': false }">I should be red but not bolded.</span>
<span [ngClass]="{ 'red': true, 'bold': true }">I should be red and bolded.</span>

<span [ngClass]="{ 'on': switch }">I should be yellow.</span>

<span [ngClass]="{ 'on': 1===1 }">I should be yellow.</span> -->
<button (click)='logNum()'>Log the num value</button>
<button (click)='num = num + 1'>Increment Num</button>
<button (click)='increaseNum()'>Increment Numv2</button>