<!DOCTYPE html>
<html ng-app='myApp'>
    <head>
        <meta charset="utf-8">
        <title>Controlling Users</title>
        <!-- <link rel="stylesheet" href="style.css"> -->
        <script src="bower_components/angular/angular.js"></script>
        <script>
            var myAppModule = angular.module('myApp',[]);
            myAppModule.controller('userController',function($scope){
               $scope.users = [];
               $scope.addUser = function(){
                  if(!$scope.first_name || !$scope.last_name || !$scope.fav_lang) return;

                  $scope.users.push({
                     first_name : $scope.first_name,
                     last_name : $scope.last_name,
                     fav_lang : $scope.fav_lang
                  });
                  $scope.first_name = '';
                  $scope.last_name = '';
                  $scope.fav_lang = '';
               };
               $scope.deleteUser = function(index){
                  // console.log(index);
                  $scope.users.splice(index,1);
               }
            });
        </script>
    </head>
    <body>
        <div ng-controller="userController">
            <form ng-submit='addUser()'>
                <p>
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" ng-model='first_name'>
                </p>
                <p>
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name" ng-model='last_name'>
                </p>
                <p>
                    <label for="fav_lang">Favorite Language:</label>
                    <input type="text" name="fav_lang" ng-model='fav_lang'>
                </p>
                <button type="submit" name="button">Create User</button>
            </form>
            <hr>
            <input type="text" ng-model='filter_target' placeholder="Filter...">
            <hr>
            <table>
               <thead>
                  <tr>
                     <th>First Name:</th>
                     <th>Last Name:</th>
                     <th>Favorite Language:</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat='user in users | filter:filter_target'>
                     <td ng-bind='user.first_name'></td>
                     <td ng-bind='user.last_name'></td>
                     <td ng-bind='user.fav_lang'></td>
                     <td>
                        <button type="submit" name="userToDelete" ng-click='deleteUser($index)'>Delete User</button>
                     </td>
                  </tr>
               </tbody>
            </table>
        </div>
    </body>
</html>
