<div class="" ng-init='getPlayer()'>
   <table>
      <thead>
         <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Actions</th>
         </tr>
      </thead>
   </table>
   <tbody>
      <tr>
         <td ng-bind='player.name'></td>
         <td ng-bind='player._team.name'></td>
         <td>
            <a href="#!/players/{{player._id}}/edit">
               <button type="button" name="button">Edit</button>
            </a>

            <button type="button" name="button" ng-click='destroy(player._id)'>Destroy</button>
         </td>
      </tr>
   </tbody>
</div>
