<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Quoting Dojo</title>
   </head>
   <body>
      <div class="">
         <h1>Welcome to QuotingDojo</h1>
         <% if (error) { %>
            <p><%= error %></p>
         <% } %>
         <form class="" action="/quotes" method="post">
            <label for="creator">Your Name:</label><input type="text" name="creator" value="<%= creator %>">
            <label for="quote">Your quote:</label><textarea name="quote"><%= quote %></textarea>
            <input type="submit" value="Add my quote!">
         </form>
         <a href="/quotes"><button type="button" name="button">Skip to quotes!</button></a>
      </div>
   </body>
</html>
